body 	{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px}
h1.head {color: #A22C28; background: #000000; 
         font-family: Arial, Helvetica, sans-serif; font-size: 40px; font-weight: bold}
h1	{ border-bottom: 1px solid #A22C28; color: #A22C28; 
          font-family: Arial, Helvetica, sans-serif; font-size: 20px; font-weight: bold; }
h2	{ border-bottom: 1px solid #000000; color: #000000; 
          font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; }
h3	{ font-family: Arial, Helvetica, sans-serif; font-size: 18px; font-weight: bold; }
h4	{ font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; }
td.cc { font-family: Arial, Helvetica, sans-serif; font-size:9px}

